/* Home page css */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    background: #544adc;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: #FFFFFF;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #544adc;
    transform: translate(-4%, 40%);
    z-index: -1;
}


/* trying to create gap */
div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 250px;
  width: 0;
}

/* link color */
a:link, a:visited, a:active {
    color: black;
}

/* Align for logo and crypto name */
.crypto_logo img {
  float: left;
  width: 70px;
  height: 70px;
}

.crypto_logo h1 {
  position: relative;
  top: 18px;
  left: 30px;
}

/* dropdown size */
.dropdown-menu {
    max-height: 30vh;
    overflow-y: auto;
}